<li class="email">
    <a class="text-danger" href="home.html">
       <p class="h5 m-0"><i class="icofont-home text-danger"></i></p>
       Home
    </a>
 </li>
 <li class="github">
    <a href="cart.html">
       <p class="h5 m-0"><i class="icofont-cart"></i></p>
       CART
    </a>
 </li>
 <li class="github">
    <a href="index.html" onclick="logoutFnc();">
       <p class="h5 m-0"><i class="icofont-lock"></i></p>
       LOGOUT
    </a>
 </li>
 <!-- <li class="ko-fi">
    <a href="help_ticket.html">
       <p class="h5 m-0"><i class="icofont-headphone"></i></p>
       Help
    </a>
 </li> -->

 <script>

   logoutFnc = () => {
      localStorage.clear();
   }
 </script>