<div class="osahan-menu-fotter fixed-bottom bg-white text-center border-top">
    <div class="row m-0">
       <a href="/app/home.html" class="text-dark small col font-weight-bold text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-grocery"></i></p>
          Shop
       </a>
       <a href="/app/cart.html" class="text-dark col small text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-cart"></i></p>
          Cart
       </a>
       <a href="/app/complete_order.html" class="text-dark col small text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-bag"></i></p>
          My Order
       </a>
       <a href="/app/my_account.html" class="text-dark small col text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-user"></i></p>
          Account
       </a>
    </div>
 </div>