<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="img/logo.svg">
      <title>Grofar - Online Grocery Supermarket HTML Mobile Template</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Icofont Icon-->
      <link href="vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <!-- Sidebar CSS -->
      <link href="vendor/sidebar/demo.css" rel="stylesheet">
     
   </head>
   <body>
      <!-- Osahan Index -->
      <div class="osahan-index">
         <div class="bg-success d-flex align-items-center justify-content-center vh-100">
            <a  href="account-setup.html"><img class="index-osahan-logo" src="img/logo.svg" alt="">
            </a>
         </div>
      </div>
      <!-- Navmenu START -->
      <nav id="main-nav">
         <ul class="second-nav">

         </ul>
         <ul class="bottom-nav">

         </ul>
      </nav>
      <!-- Navmenu END -->
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->

      <!-- Include JS START-->
      <script> 
         $(function () {
            $(".second-nav").load("second-nav.html");
            $(".bottom-nav").load("bottom-nav.html");

         });
      </script> 
      <!-- Include Js END -->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Sidebar JS-->
      <script type="text/javascript" src="vendor/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/osahan.js"></script>
      
   </body>
</html>